/* Put your decoration here */

.btn-custom {
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #ff731d;
    border: 1px solid #ff731d;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: royalblue;
    color: white;
    transition: 0.5s;
    border: none;
}

.wrap-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.text {
    font-size: 80px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
}

.img {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 128px;
    height: 128px;
}