/* Put your decoration here */
.btn-custom {
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: #ff731d;
  border: 1px solid #ff731d;
  cursor: pointer;
}
