/* Put your decoration here */
.btn-custom{
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #FF731D;
  border: 1px solid #FF731D;
  cursor: pointer;
}
